@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var title = Model.Title ?? "Welcome";
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post">
        <input asp-for="Title" />
        <button>submit</button>
    </form>
</div>
